@font-face {
	font-family: 'azonix';
	src: url('azonix.woff') format('woff');
}

html {
    height: 100%;
}

body {
    height: inherit;
    margin: 0;
    font-family: "azonix";
}

#container {
    display: flex;
    flex-direction: column;
}

#settings {
    align-self: flex-end;
}

#icon {
    margin: 25px 25px 0px 0px;
    width: 35px;
    height: 35px;
    transition: 0.5s;
}

.rotate {
    transform: rotate(180deg)
}

.menu {
    display: none;
    min-height: 100%;
    min-width: 100%;
    
}

.showMenu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    justify-content: center;
    text-align: center;
    font-size: 25px;
    box-shadow: 30px 30px  rgb(43, 0, 28);

}

#content {
    align-self: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#greeting {
    font-size: 45px;
    text-align: center;
}

#box {
    border: 1px solid black;
    width: 500px ;
    min-height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(193, 35, 161);
}

.hideTimer {
    display: none;
}

#footer {
    background-color: rgb(42, 18, 38);
    color: rgb(138, 42, 109);
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.light {
    background-color: rgb(175, 115, 167);
    color: rgb(43, 0, 28);
}

.dark {
    background-color: rgb(43, 0, 28);
    color: rgb(175, 115, 167);
}
