@font-face {
	font-family: 'azonix';
	src: url('azonix.woff') format('woff');
}

.light ::selection {
    background-color:rgb(43, 0, 28);
    color: rgb(175, 115, 167);
  }

.dark ::selection {
    background-color: rgb(134, 71, 126);
    color: rgb(74, 14, 53);
}

.light {
    background-color: rgb(175, 115, 167);
    color: rgb(43, 0, 28);
    
    transition: 1.5s;
}

.dark {
    background-color: rgb(74, 14, 53);
    color: rgb(134, 71, 126);
    
    transition: 1.5s;
}

html {
    height: 100%;
}

body {
    height: inherit;
    margin: 0;
    font-family: "azonix";
}

#container {
    display: flex;
    flex-direction: column;
}

#settings {
    align-self: flex-end;
}

.icon {
    margin: 25px 25px 0px 0px;
    width: 35px;
    height: 35px;
    filter: brightness(0) saturate(100%) invert(6%) sepia(69%) saturate(2606%) hue-rotate(298deg) brightness(87%) contrast(109%);
    transition: 0.5s;
}

.darkIcon {
    filter: brightness(0) saturate(100%) invert(34%) sepia(13%) saturate(2271%) hue-rotate(256deg) brightness(90%) contrast(84%);
}

.rotate {
    transform: rotate(180deg);
    transition: 0.5s;
}

.menu {
    display: none;
    min-height: 100%;
    min-width: 100%;
}

.showMenu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    justify-content: center;
    text-align: center;
    font-size: 25px;
    box-shadow: 30px 30px  rgb(43, 0, 28);

}

input {
    width: 40px;
    padding: 5px;
    text-align: center;
    font-family: "azonix";
    font-size: 25px;
    border: 0px solid;
    background-color: black;
    color: palevioletred;
    border-radius: 5px;
}

.clicked {
    animation-duration: 0.7s;
    animation-name: biggify;

}

@keyframes biggify {
    0% {font-size: 25px;}
    50% {font-size: 30px;}
    100%   {font-size: 25px;}
  }

#content {
    align-self: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#greeting {
    font-size: 45px;
    text-align: center;
}

#box {
    border: 1px solid black;
    width: 500px ;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workTimer,
.breakTimer,
.longBreakTimer {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
}

.hideTimer {
    display: none;
}

#footer {
    background-color: rgb(42, 18, 38);
    color: rgb(138, 42, 109);
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}



